vv/
.sass-cache/
*.css.map
*.sass.map
*.scss.map
themes/

# assets/
assets/bootstrap/
assets/js
assets/images
assets/css

static/images
static/js/
static/fonts
static/css

bootstrap.bundle.min.js.map

exampleSite/vLayouts
exampleSite/zzOutdate
exampleSite/samples

public/

wMedia/

# Вспомогательные файлы
*.log*
node_modules/
wREADME.md
resources/

# Файлы редактора VScode
.vscode

# Директория выхлопа (по умолчанию - public, изменено в config.yaml: publishDir: "@_site"
@_site/
