// Footer stules

.rfi-footer {
  background-color: $navsbg;
  color: $secondary;
  font-family: 'Fira Sans';
  padding: 2.5rem 0 21rem 0;

  a {
    color: $rfilightest;
    text-decoration: none;
  }

  :hover {
    color: $secondary;
    cursor: pointer;
  }

  p {
    :last-child {
      margin-bottom: 0;
    }
  }

  .card {
    background-color: $darkbg;
    border: 0;
    // color: $rfibrightest;

    li {
      margin-left: .8rem;
      margin-right: .8rem;
      margin-top: .125rem;
    }

    h5 {
      // color: $rfilightest;
      font-size: 1.1rem;
    }

    .svg-icon {
      fill: $rfilightest;
      margin-right: .5rem;
      margin-top: -.225rem;
    }
  }

  .card-brand {
    background-color: $navsbg;
  }
}
