// Navbar styles TODO: прерделать цвета меню при наведении и в переключателе Dark-mode
// .site-header {
// .navbar-dropdown {
//   .dropdown-item {
//     :hover {
//       background-color: $gray-600;
//     }
//   }
// }

.tags-button {
  margin-right: 1rem;

  :hover {
    cursor: pointer;
  }
}

.navbar-brand {
  .navbar-title {
    color: $rfilighter;
    // font-family: 'English Script';
    font-family: 'Ponomar Unicode';
    font-size: 1.6rem;
    padding-left: .6em;
  }
}

.dropdown-menu,
.rfinavbg {
  background-color: $darkbg;
  font-family: 'Fira Sans';
}

.navbar-collapse {
  .nav-item,
  li a {
    :active,
    :focus,
    :hover {
      background-color: $darkhover;
    }
  }

  a {
    color: $secondary;
  }
}
