// stylelint-disable value-keyword-case
// 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
// body {
//   padding-top: 100px;
// }
//
// footer {
//   padding: 52px 0;
// }
// highlight
//@B^20210617  _reboot.scss 287



//B^ bs castomisation

.navbar-brand {
  font-size: 1.25rem;
}
//B^ mainColour
// body.dark .maincolour-bg {
//   color: $mainColour;
// }
//
// body.dark .maincolour-color {
//   color: $mainColour;
// }


//B^ GitHub markdown bs castomisation
table {
  @extend .table;
  @extend .table-bordered;
}

//B^ rfi castomisation
.maincolour-bg {
  background-color: $mainColour;
}

.maincolour-color {
  color: $mainColour;
}

.divider {
  background: $gray-500;
  border-radius: 50px;
  height: 4px;
  margin-bottom: 1rem;
  width: 68px;

  &.text-center {
    margin: 0 auto;
  }
}
//partial/_defoult/list

// .author {
//   background-color: $precode;
// }
//B^ darkMode

// #mode {
//   margin-right: 1.25rem;
// }
