<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="h-100">

  <head>
    {{- partial "meta.html" . -}}
    {{- partial "stylesheets.html" . -}}
    {{- partial "favicons.html" . -}}
  </head>

  <body class="d-flex h-100 text-center text-white bg-dark">
    {{- partial "sidebar-btn-inset.html" . -}}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      {{- partial "header.html" . -}}
      <div id="content">
        {{- block "main" . }}{{- end }}
      </div>
      {{- partial "footer.html" . -}}
      {{- partial "sidebar.html" . -}}
      {{- partial "scripts.html" . -}}
    </div>
  </body>

</html>
