// Web Font CSS declaration
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/FiraSans-Regular.woff2') format('woff2'),
   url('../fonts/FiraSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/FiraMono-Regular.woff2') format('woff2'),
   url('../fonts/FiraMono-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/PlayfairDisplay-Regular.eot'), url('../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'), url('../fonts/PlayfairDisplay-Regular.woff') format('woff'), url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}
