{{- $js1 := resources.Get "js/bootstrap.bundle.min.js" -}}
{{- $js2 := resources.Get "js/dark-mode-switch.js" -}}
{{- $js3 := resources.Get "js/bootstrap.bundle.min.js.map" -}}

{{- if .Site.Params.jsMinify -}}
    {{- $js1 = $js1 | resources.Minify -}}
    {{- $js2 = $js2 | resources.Minify -}}
{{- end -}}

{{- if .Site.Params.jsIntegrity -}}
  {{- $js1 = $js1 | resources.Fingerprint -}}
  {{- $js2 = $js2 | resources.Fingerprint -}}
{{- end -}}

{{- if .Site.Params.jsIntegrity -}}
  <script src="{{- $js1.Permalink | relURL -}}" integrity="{{- $js1.Data.Integrity -}}"></script>
  <script src="{{- $js2.Permalink | relURL -}}" integrity="{{- $js2.Data.Integrity -}}"></script>
{{- else -}}
  <script src="{{- $js1.Permalink | relURL -}}"></script>
  <script src="{{- $js2.Permalink | relURL -}}"></script>
{{- end -}}
