{{- define "main" -}}
<section class="px-3 h-100">
  {{- $homepage   := .Site.Params.homepage -}}
  {{- $title      := index $homepage "title" -}}
  {{- $subtitle   := index $homepage "subtitle" -}}
  {{- $image      := index $homepage "image" -}}
  {{- $summary    := index $homepage "summary" -}}
  <h1>{{- $title -}}</h1>
  {{- with $subtitle -}}
  <h2 class="text-muted">
    {{ . }}
  </h2>
  {{- end -}}
  <p class="lead">
  {{- $summary -}}
  </p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary fw-bold">Learn more</a>
  </p>
</section>
{{- end -}}
