// @b^ Docs dark castomisation
////////////////////////////
// dark code 235
body.dark code:not(.hljs) {
  background: $precode;
}
// dark code 306
body.dark .card {
  background: $precode;
}

body.dark table {
  @extend .table;
  @extend .table-bordered;
}

////////////////////////////
// new /////////////////////
////////////////////////////
body.dark .list-group-item {
  background: $body-bg-dark;
  border: 1px solid $border-dark;
}

body.dark .list-group-item.bg-light {
  background: $body-overlay-dark;
}

body.dark .offcanvas-body {
  background: $body-bg-dark;
  border: 1px solid $border-dark;
}

body.dark .offcanvas-body.bg-light {
  background: $body-overlay-dark;
}

body.dark .offcanvas-header {
  background: $body-bg-dark;
  border: 1px solid $border-dark;
}

body.dark .offcanvas-header.bg-light {
  background: $body-overlay-dark;
}

body {
  .toggle-dark {
    display: block;
  }

  .toggle-light {
    display: none;
  }

  .dark {
    .toggle-light {
      display: block;
    }

    .toggle-dark {
      display: none;
    }

    .navbar-brand {
      color: $mainColour;
    }
  }
}
