.chroma { color: $gray-100; background-color: $precode; font-family: 'Fira Code';}
.chroma .x {  }
.chroma .err { color: $pink-700; background-color: $pink-900; }
.chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
.chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
.chroma .hl { display: block; width: 100%;background-color: $gray-800;}
.chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: $gray-600; }
.chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: $gray-600; }
.chroma .k { color: $cyan-300; }
.chroma .kc { color: $cyan-300; }
.chroma .kd { color: $cyan-300; }
.chroma .kn { color: $pink-500; }
.chroma .kp { color: $cyan-300; }
.chroma .kr { color: $cyan-300; }
.chroma .kt { color: $cyan-300; }
.chroma .n {  }
.chroma .na { color: $teal-300; }
.chroma .nb {  }
.chroma .bp {  }
.chroma .nc { color: $teal-300; }
.chroma .no { color: $cyan-300; }
.chroma .nd { color: $teal-300; }
.chroma .ni {  }
.chroma .ne { color: $teal-300; }
.chroma .nf { color: $teal-300; }
.chroma .fm {  }
.chroma .nl {  }
.chroma .nn {  }
.chroma .nx { color: $teal-300; }
.chroma .py {  }
.chroma .nt { color: $pink-500; }
.chroma .nv {  }
.chroma .vc {  }
.chroma .vg {  }
.chroma .vi {  }
.chroma .vm {  }
.chroma .l { color: $indigo-300; }
.chroma .ld { color: $yellow-300; }
.chroma .s { color: $yellow-300; }
.chroma .sa { color: $yellow-300; }
.chroma .sb { color: $yellow-300; }
.chroma .sc { color: $yellow-300; }
.chroma .dl { color: $yellow-300; }
.chroma .sd { color: $yellow-300; }
.chroma .s2 { color: $yellow-300; }
.chroma .se { color: $indigo-300; }
.chroma .sh { color: $yellow-300; }
.chroma .si { color: $yellow-300; }
.chroma .sx { color: $yellow-300; }
.chroma .sr { color: $yellow-300; }
.chroma .s1 { color: $yellow-300; }
.chroma .ss { color: $yellow-300; }
.chroma .m { color: $indigo-300; }
.chroma .mb { color: $indigo-300; }
.chroma .mf { color: $indigo-300; }
.chroma .mh { color: $indigo-300; }
.chroma .mi { color: $indigo-300; }
.chroma .il { color: $indigo-300; }
.chroma .mo { color: $indigo-300; }
.chroma .o { color: $pink-500; }
.chroma .ow { color: $pink-500; }
.chroma .p {  }
.chroma .c { color: $gray-500; }
.chroma .ch { color: $gray-500; }
.chroma .cm { color: $gray-500; }
.chroma .c1 { color: $gray-500; }
.chroma .cs { color: $gray-500; }
.chroma .cp { color: $gray-500; }
.chroma .cpf { color: $gray-500; }
.chroma .g {  }
.chroma .gd { color: $pink-500; }
.chroma .ge { font-style: italic }
.chroma .gr {  }
.chroma .gh {  }
.chroma .gi { color: $teal-300; }
.chroma .go {  }
.chroma .gp {  }
.chroma .gs { font-weight: bold }
.chroma .gu { color: $gray-500; }
.chroma .gt {  }
.chroma .gl {  }
.chroma .w {  }

//@B^ code styles
.highlight {
  padding-bottom: 1rem;
}

pre {
  background-color: $precode;
  color: $gray-100;
  font-size: 1rem;
  padding: 1rem;
}

.fira-mono {
  font-family: 'Fira Code';
}
